.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-logo {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-item {
    font-size: 16px;
  }
  
  .navbar-link {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
  button{
    padding: 8px;
    background-color: red;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid red;
    border-radius: 8px;
  }